[submodule "pygame_sdl2"]
	path = pygame_sdl2
	url = https://github.com/renpy/pygame_sdl2
[submodule "renpy"]
	path = renpy
	url = https://github.com/SonicMastr/renpy
[submodule "Python-Player-Vita"]
	path = Python-Player-Vita
	url = https://github.com/SonicMastr/Python-Player-Vita
